<div class="card h-100">
  <div class="card-body card-block">
    <h6 class="card-title">
      <div class="row container-fluid">
        <div>FAQs</div>
        <div class="text-right ml-auto"><a routerLink="/viewqa" routerLinkActive="active" class="card-link">All FAQs</a></div>
      </div>
    </h6>
    <div class="card-text">
      <p><a href="#" class="card-link">Hot to navigate to my work screen</a></p>
      <p><a href="#" class="card-link">Where can I find Help files</a></p>
      <p><a href="#" class="card-link">why is my download doesn't open automatica</a></p>
      <p><a href="#" class="card-link">Proxy diffrenet units</a></p>
      <p><a href="#" class="card-link">Scientific notaions instead of actual number</a></p>
    </div>
  </div>
</div>
